/* Style Sheet */

.container{
  padding: 0;
  background-color: #1f2937;
  width: auto;
  margin: 0;
  padding: 0;
  color: white;
  
}

.clearface::after{
  content: '';
  display: table;
  clear: both;
  
}

.logo-box{
  float: left;
  margin-left: 60px;
  
}

.nav-links{
  float:right;
  margin-right: 60px;

}


div ul li{
  list-style-type: none;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 0;
}

.left-container{
  flex: 1;
  margin-left: 60px;
  justify-content: center;
  align-items: center;
}

.right-container{
  flex: 1;
  justify-content: center;
  align-items: center;
}

.image-box{
  width: 50px;
  height: 10pxpx;
  background-color: gray;
}

.BigFlex{
  display: flex;
}